<?xml version="1.0" encoding="utf-8" ?> 
<TestListeners xmlns="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Runtime" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <TestListener>
    <Name>TestRail Listener</Name>
    <Description>Posts test run results to TestRail</Description>
    <Status>Active</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\DevProjects\Quintity\Repos\Quintity.TestFramework.TestListeners\Quintity.TestFramework.TestListener.TestRail\bin\Debug\Quintity.TestFramework.TestListener.TestRail.dll</Assembly>
    <!--<Assembly>[TestAssemblies]\Quintity.TestFramework.TestListener.TestRail.dll</Assembly>-->
    <Type>Quintity.TestFramework.TestListeners.TestRailListener</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestOutput</d3p1:Key>
        <d3p1:Value>[TestOutput]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestResults</d3p1:Key>
        <d3p1:Value>[TestResults]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestConfigs</d3p1:Key>
        <d3p1:Value>[TestConfigs]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestHome</d3p1:Key>
        <d3p1:Value>[TestHome]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestAssemblies</d3p1:Key>
        <d3p1:Value>[TestAssemblies]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
    </Parameters>
  </TestListener>
  <TestListener>
    <Name>Text file listener</Name>
    <Description>Writes test results to a text file.</Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.Scratch\bin\Debug\Quintity.TestFramework.TestListener.TextFile.dll</Assembly>
    <Type>Quintity.TestFramework.TestListener.TextFile.TestFileListener</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  </TestListener>
</TestListeners>